/* Appointments.css */

.appointments-table {
    margin: 20px;
}

.appointments-table th {
    background-color: #007bff; /* Couleur de fond de l'en-tête */
    color: white; /* Couleur du texte de l'en-tête */
}

.appointments-table td, .appointments-table th {
    text-align: center; /* Centrage du texte dans les cellules */
}

.appointments-table .badge-primary {
    background-color: #28a745; /* Couleur de fond du badge */
}






.table-container-patient
{
    max-height: 500px; /* Set the maximum height */
    overflow-y: auto; /* Add a vertical scrollbar when necessary */
}



.table-container-assurance{
    max-height: 490px; /* Set the maximum height */
    overflow-y: auto;
}

.table-container {
    max-height: 270px; /* Set the maximum height */
    overflow-y: auto; /* Add a vertical scrollbar when necessary */
}
.tab-content1 {
    max-height: 450px; /* Set the maximum height */
    overflow-y: auto; /* Add a vertical scrollbar when necessary */
}
.register-title {
    color: #007bff;
    text-align: center;
}
.services-container,.register-comp {
    color: #006de1;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #9adaff98; /* Light blue background color */
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.2); /* Light shadow */
    height: 640px; /* Fixed height; adjust this as needed */
}


/*.services-container{
    color: #006de1;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #9adaff98; /* Couleur de fond légère */
 /*   box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.2); /* Ombre légère */
/*}/*//*

/* styles.css */
/* Target the active tab */
.custom-tabs .nav-link.active {
    background-color: #f0f0f0; /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 10px; /* Add rounded border */
}

.table-container,.carrousel-container
{
    color: #007bff;
    text-align: center;
    text-decoration: none;
  
    background-color: #f8f9fa; /* Couleur de fond légère */
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.2); /* Ombre légère */
}

.mb-3,.card-header,.signup-card{
   
    color: #007bff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #f8f9fa; /* Couleur de fond légère */
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.2); /* Ombre légère */
    }


.custom-file-input  {
    border: 2px solid #007bff;
    color: #007bff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f8f9fa; /* Couleur de fond légère */
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.2); /* Ombre légère */
    transition: box-shadow 0.3s ease; /* Transition fluide de l'ombre au survol */
  }
  
  .custom-file-input:hover {
    box-shadow: 0px 0px 20px rgba(0, 123, 255, 0.5); /* Ombre plus prononcée au survol */
  }
  
  .custom-download-button {
    border: 2px solid #007bff;
    color: #007bff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f8f9fa; /* Couleur de fond légère */
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.2); /* Ombre légère */
    transition: box-shadow 0.3s ease; /* Transition fluide de l'ombre au survol */
  }
  
  .custom-download-button:hover {
    box-shadow: 0px 0px 20px rgba(0, 123, 255, 0.5); /* Ombre plus prononcée au survol */
    background-color: #007bff; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
  }
  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 9px 8px 9px rgba(255, 255, 255, 0.878); /* Add a shadow for depth */


}

.sticky-header th {
    font-weight: bold;
    padding: 12px 16px; /* Adjust padding for better spacing */
    border-bottom: 2px solid #dee2e6; /* Add bottom border for separation */
}

.sticky-header th:first-child {
    border-radius: 8px 0 0 0; /* Add border radius to the first header cell */
}

.sticky-header th:last-child {
    border-radius: 0 8px 0 0; /* Add border radius to the last header cell */
}
/*table
/* styles.css */
.pharmacist-row:hover {
    background-color: #f0f0f0; /* Add background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.radio-cell {
    width: 30px; /* Adjust width of radio button cell */
}
/*pharmacist.css*/
.pharmacist-table {
    max-height: 300px; /* Adjust this value to the desired maximum height */
    overflow-y: auto; /* Enables vertical scrolling */
}

.pharmacist-table thead th {
    position: sticky;
    top: 0; /* Keeps the header at the top */
    background-color: white; /* Ensures the header is not transparent */
    z-index: 10; /* Keeps the header above the tbody content */
}
